@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    font-family: "Arvo";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color: var(--secondary);
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  a {
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
  }

  .navbar-row {
    margin: 0px;
    padding: 0px;
    margin-bottom: 1rem;
  }
  
  .navbar-containers {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .navbar-containers a {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em;
  }
  
  .navbar-row li {
    list-style-type: none;
    display: inline-block;
  
    flex-shrink: 1;
  }
  
  .navbar-row a:hover {
    color: gold;
}